html, body {
   
     
    background-color: #F7DDA9; /*#010d0b*/
    color: #85816E;
    font-family: manuskript-regular,Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
    font-weight: 400;
    line-height: 1.45; 
}
.global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 64px;
    padding: 0 16px;
    background: url("../svgs/long_top.svg") repeat-x 0 0/auto 100%;
}

.global-header:after {
    height: calc(100% + 12px);
    background: url("../svgs/first_back.svg") repeat-x 50% 100%/1200px 144px;
}
.global-header:after, .global-header:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
#Logo{
    max-height: 50px;
    max-width: 600px;
    display: block;
    margin: auto;
    padding-top: 5px;
}

canvas{
    display: block;
    margin: auto;
    padding-top: 100px;
    max-height: 650px;
}


#webgl:focus {
    outline: none;
}
#webgl{
    position: relative;
}
#curtain {
    background: black;
    opacity: 0;
}
.screen-change {
    animation-name: screen-change;
    animation-duration: 2s;
}
    .st0{fill:#F7DDA9;}
    .st1{fill:#CC9252;}
    .st2{fill:#8B5B31;}
    .st3{fill:#B32E31;}
    .st4{fill:#F9DD93;}

    .cls-1{fill:#2d2f33;opacity:0.48; }

    #slice{
        padding-top: 30px;
        padding-bottom: 30px;
    }
#map{
    height: 900px;
    width: 1600px;
    display: block;
    margin: auto;
}



@keyframes screen-change {
    0% {opacity: 0;}
    30% {opacity: 1;}
    /* Waiting time */
    70% {opacity: 1;}
    100% {opacity: 0;}
}

