html, body {
     background-color: #08151b; /*#010d0b*/
     color: #85816E;
     font-family: manuskript-regular,Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
     font-weight: 400;
     line-height: 1.45; 
 }
 .global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 64px;
    padding: 0 16px;
    background: url("../svgs/long_top.svg") repeat-x 0 0/auto 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
 }

 .global-header > p{
    transition-duration: 0.1s;
}
.global-header > p:hover{
    color:white;
    cursor: pointer;
}
 
 .global-header:after {
     height: calc(100% + 12px);
     background: url("../svgs/first_back.svg") repeat-x 50% 100%/1200px 144px;
 }
 .global-header:after, .global-header:before {
     content: "";
     display: block;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -2;
 }
 #Logo{
     max-height: 50px;
     max-width: 600px;
     display: block;
     margin: auto;
     padding-top: 5px;
 }
 

 

 h1{
     display: block;
     margin: 0 auto;
     text-align: center;
     font-size: 60px;
 }


     
 
     .cls-1{color:#2d2f33;opacity:0.48; }
 
     .slice{
         padding-top: 30px;
         padding-bottom: 30px;
         background-color: #F7DDA9;
     }
     .slice:after{
         background-color: #F7DDA9;
     }
     
 div{
     margin: 0 auto;
     display: block;
     background-color: #F7DDA9;
     }

 p{
     display: block;
     margin: auto;
     font-size: 28px; 
     width: 60%;
 }
 
 
 footer{
     background: #08151b;
     position: relative;
     display: flex;
     flex-direction: row;
     text-align:center;
     justify-content: center;
     
 }
 #footer_p{
     margin-left: 10px;
     margin-right: 10px;
     width: auto;
 }
 .footer_svg{
     width: 3%;
 
 }


 #links{
     
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 65%;
     margin: 0 auto;
     background-color: #F7DDA9;
 }
 #links > p{
     text-align: center;
     font-size: 40px;
 }
 .img_container{
     position: relative;
     
 }
 .box {
     position: absolute;
     left: 0; 
     right: 0; 
     margin-left: auto; 
     margin-right: auto; 
     top: 140px;
     width: 80%;
     z-index: 1;
     transition-duration: 1s;
   }
 .kraken{
     background-color: transparent;
     border: none;
     color: black;
     width: 500px;
 
 }
 a { color: inherit; text-decoration: none;} 
 
 .t_link{
     position: absolute;
     left: 0; 
     right: 0px; 
     margin-left: auto; 
     margin-right: auto; 
     text-align: center;
     z-index: 2;
     top: 165px;
     width: 80%;
     font-size: 45px;
     font: bolder;
     color: white;
     
     
 }
 #colorbackup{
     background-color: #F7DDA9;
 }
 main{
     background-color: #F7DDA9;
     padding-top: 100px;
     display: block;
     margin: 0 auto;
 }
 h2{
     margin: auto;
     width: 60%;
     font-size: 40px;
     padding-top: 30px;
 }
 
 ul{
     display: block;
     margin: auto;
     font-size: 28px;
     width: 60%;
     transition-duration: 1s;
 }
 li{
     color: #08151b;
     font-weight: bolder;
 }
 li:hover{
     color: white;
     transition-duration: 1s;
 }
 
 .box:hover{
     filter: saturate(3);
 }
 
 